/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  font-size: 15px;
  line-height: 15px;
  font-weight: normal;
  padding: 10px;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  min-width: 80px;
  text-align: center;
  box-shadow: 1px 3px 0px action-dark(1);
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus, &:visited, {
	color: $white !important;
	text-decoration: none;
	outline: none;
  } // end hover

  // clicking on the button
  &:active {
	top: 1px; // adds a tiny hop to the click
	box-shadow: 1px 1px 0px action-dark(1);
  } // end active

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/

.btn, .wpcf7-form-control .wpcf7-submit {
  @extend %btn;
  background-color:$action;

  &:hover {
	background-color: darken($action, 5%);
  }

  &:active {
	text-shadow:  -1px -1px 0 $action-dark;
  }


  text-shadow:  1px 1px 0 $action-dark;
}
.blue-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $blue;

  &:hover,
  &:focus {
	background-color: darken($blue, 4%);
  } // end hover

  &:active {
	background-color: darken($blue, 5%);
  } // end active

} // end blue button

ul#menu-top {
  li:last-child {
  	@extend %btn;
  	background-color: $action;
  	margin-top: 5px;
  	padding-left: 10px;
  	padding-right: 10px;

  	  &:hover {
  		background-color: darken($action, 5%);
  		border-bottom: 0px !important;
  	  }

  	  &:active {
  		text-shadow:  -1px -1px 0 $action-dark;
  	  }


  	  text-shadow:  1px 1px 0 $action-dark;

  	a {
  		margin:0;
  	}

  	a:hover {
  		text-decoration: none;
  		border-bottom: 0px !important;
  	}
}
}
